/* Add this CSS for animated gradient */
@keyframes gradientShift {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  .animated-background {
    background: linear-gradient(270deg, #ff007c, #5900ff, #00ffad, #f5ff00);
    background-size: 800% 800%;
    animation: gradientShift 10s ease infinite;
    height: 100vh; /* Full viewport height */
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1; /* Make sure it stays behind all other content */
  }
  html {
    scroll-behavior: smooth;
  }
   